<h2><%= @artist.name %></h2>

<img src=" <%= @artist.photo_url %>" alt=" <%= @artist.name %>">

<p>The <%= @artist.nationality %> artist <strong><%= @artist.name %></strong>'s discography is below.</p>

<% albums = []%>
<ul>
<% @artist.songs.each do |song| %>
 <% album = song.album %>
 <% albums.push(album) %>
 <li><%= song.title %></li>
<% end %>
</ul>

<% albums = albums.uniq %>
<p><%= albums %></p>


<!-- # Song.find_by(artist_id: 4) -->