<h2><%= @artist.name %></h2>

<img src=" <%= @artist.photo_url %>" alt=" <%= @artist.name %>">

<p>The <%= @artist.nationality %> artist <strong><%= @artist.name %></strong>'s discography is below.</p>

<% albums = [] %>

<ul>
<% @songs.each do |song| %>
  <li><%= song.title %></li>
<% end %>
</ul>